<div class="container m-auto border">
  <h1 class="text-center" appHost><strong>All LifeCycle Hook In Angular</strong></h1>
  <h1 class="text-center" appHost><strong>{{text |hello}}</strong></h1>

  <div class="container border">
    <h2 class="text-center" [ngClass]="'hello'">ngOnChangeHook</h2>
    <button class="btn btn-primary" (click)="counter()" [ngStyle]="{ 'background-color': 'yellow', 'font-weight': 'bold' }">Change</button>
    <app-change [data]="count"></app-change>
  </div>
  <div class="container mt-3 border">
    <app-after-init [child]="data" (parent)="handle($event)" (another)="handle($event)">
      <h4 #Contentchild>This is the counter:{{count}}</h4>

    </app-after-init>
  </div>
  <div class="container mt-3 border">
    <h1 class="text-center" #title><strong [ngStyle]="{color:'red'}">ngAfterViewInit</strong></h1>
  </div>
</div>
